<h1>Sessions#new</h1>
<h1 align='center'> Login! </h1>
<div align="center">
  <%= form_for(:session, url: login_path) do |f| %>
    <p>
      <%= f.label :username %><br/>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
